* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Nata Sans", sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

#chartView {
  position: absolute;
  top: 0;
  width: calc(100% - 360px);
  height: 100vh;
  background: white;
}

#chartContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 360px;
  width: calc(100% - 360px);
  height: 100vh;
}

#chartView {
  width: 100%;
  height: 100%;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(0, 102, 204, 0.6);
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(0, 102, 204, 0.9);
  color: white;
  font-weight: bold;
}

.custom-marker div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  animation: pulse 1.8s infinite ease-in-out;
}

/* Animación rítmica */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
  50% {
    transform: scale(1.35);
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 2000;
}

.cap {
  background: #0083A9;
  padding: 10px;
  color: #e1e1e1;
}

.cap svg {
  fill: #ffffff;
  height: 31px;
  margin: .3rem;
  align-self: flex-start;
}

/* bloque superior */
.panel > div:first-of-type {
  flex-shrink: 0;
}

/* lista actividades */
.activity-list {
  margin-top: .3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding: 0.2rem 0.75rem;
}

#activityList {
  flex: 1;
  overflow-y: auto;
}

.panel h2 {
  margin: .2em 0 .5em 0.2em;
  font-size: 18px;
  color: white;
}


.panel h3 {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}



.panel label {
  display: block;
  margin: 6px 0;
  font-size: 13px;
}


.center-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
  font-size: 13px;
  cursor: pointer;
}

.center-count {
  margin-left: auto;
  font-size: 12px;
  opacity: 0.7;
}

.color-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  flex-shrink: 0;
}

.leaflet-control-container{
  display: none;
}



.activity-item {
  font-size: 12px;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.15s ease;
}

.activity-item strong {
  display: block;
  font-size: 12px;
}

.activity-item span {
  opacity: 0.7;
}

.activity-item:hover {
  background: #f2f2f2;
}

.activity-item.active {
  background: #eaeaea;
}

.custom-select {
  position: relative;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

.view-switch {
  display: flex;
  font-size: 14px;
  gap: 6px;
  margin-bottom: 6px;
}

.view-switch button {
  flex: 1;
  background: #e1e1e1;
  color: #0083a9;
  border-radius: 26px;
  padding: .3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "Nata Sans", sans-serif;
  font-weight: 600;
  height: 30px;
  border: none;
}

.view-switch button:hover {
  background: #c7c3c3
}

.view-switch button.active {
  background: #0083A9;
  color: #e1e1e1;
  position: relative;
  border: 2px solid #e1e1e1;
}

.view-switch button.active::before {
  content: "✓";
  position: absolute;
  left: 8px;
  font-weight: bold;
}

.select-display {
    background: #e1e1e1;
    padding: 0 14px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: #0083a9;
}

.select-display::after {
  content: "▾";
  font-size: 12px;
  opacity: 0.6;
}

.select-display:hover {
  background: #c7c3c3;
}

.select-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: #efefef;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
  z-index: 2000;
  border-radius: 16px;
  color: #0083a9;
}

.custom-select.open .select-options {
  display: block;
}

.select-option {
  padding: 8px 10px;
  cursor: pointer;
}

.select-option:hover {
  background: #bfbfbf;
}




#loading {
  position: absolute;
  inset: 0;
  background: #ffffff73;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1000;
  font-family: "Nata Sans", sans-serif;
}




/* --- LAYOUT MÓVIL --- */
@media (max-width: 768px) {

#chartContainer {
  left: 0;
  width: 100%;
  height: 50vh;
}

#centersBlock.collapsed {
  display: none;
}

#toggleCenters {
  cursor: pointer;
}

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
  }

  .panel {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    height: 50vh;
  }


}


