* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(0, 102, 204, 0.6);
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(0, 102, 204, 0.9);
  color: white;
  font-weight: bold;
}

.custom-marker div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  animation: pulse 1.8s infinite ease-in-out;
}

/* Animación rítmica */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
  50% {
    transform: scale(1.35);
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
}


/* Panell lateral */
.panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: white;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  display: block;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}

.panel > div:first-child {
  flex-shrink: 0;
}

.panel h3 {
  margin-top: 0;
  font-size: 14px;
}

.panel label {
  display: block;
  margin: 6px 0;
  font-size: 13px;
}

.center-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
  font-size: 13px;
  cursor: pointer;
}

.center-count {
  margin-left: auto;
  font-size: 12px;
  opacity: 0.7;
}

.color-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  flex-shrink: 0;
}

.activity-list {
  margin-top: 10px;
    display: flex;
  flex-direction: column;
  flex: 1; /* ocupa el espacio restante */
  min-height: 0; /* necesario para scroll interno */
}

#activityList {
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding-top: 6px;
}

.activity-item {
  font-size: 12px;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.activity-item strong {
  display: block;
  font-size: 12px;
}

.activity-item span {
  opacity: 0.7;
}



.leaflet-control-container{
  display: none;
}


